* {
    margin: 0;
    padding: 0;
    border:0;
}
#toubu{
	height:4.375rem;
	width: 100%;
	background-color: #d83c3d;
	border: none;

}
#lbt-c{
	overflow: visible;
}
#zuidingbu{
	overflow: visible;
}
.mui-content::-webkit-scrollbar {
        display: none;
}
.mui-bar-tab .mui-tab-item.mui-active {
    color: #ff002f;
	}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	color: #ffe0a4;
}
.mui-scroll{
	display: flex;
}
#dibu{
	color: red;
}

.bioati{
	 
	 color: #fff;
	 letter-spacing:0.104166rem;
}

/* ----- */
.toubu-c{
	display: flex;
	 justify-content: flex-end; 
}
.toubu-b img{
	width: 1.5625rem;
	height: 1.5625rem;
	border-radius: 50%;
}
.toubu-a{
	display: flex;
	justify-content:flex-start;
	align-self:flex-end;
}
.toubu-d{
	display: flex;
	 justify-content:space-between;
	height:2.83333rem;
}
.toubu-e{
	color: #fff;
	font-size: 0.416666rem;
	display: flex;
	align-items :center;
	align-self: center;
	flex-direction: column;
	margin: 0.104166rem;
}
.toubu-f{
	width: 2.708333rem;
	height: 0.9375rem;
	border: 1px solid #e05a57;
	align-self: flex-end;
	border-radius: 1.041666rem;
	margin-right: -0.6125rem;
	color: #fff;
	text-align: center;
	line-height:0.9375rem;
}
.wd{
	width: 100%;
	height: 2.760416rem;
	background: #fff;
	margin-top: 4.383333rem;
	display: flex;
	justify-content: center;
	
}
.shehuo{
	align-self: center;
	text-align: center;
	font-size: 0.416666rem;
	margin: 0.104166rem;
}
#fuwu{
	font-size: 0.9125rem;
}
.shezhi{
	width: 100%;
	height: 8.333333rem;
	background: #fff;
	margin-top: 0.208333rem;
	font-size: 0.5125rem;
}
.mui-table-view-cell{
	height:1.385416rem;
}
.remen{
		width: 100%;
		height: 2.7rem;
		margin-top: 0.208333rem;
		font-size: 0.5125rem;
}
.yijian{
	width: 100%;
	height: 2.7rem;
	background: #fff;
	margin-top: 0.308333rem;
	font-size: 0.5125rem;
}
.mui-off-canvas-wrap{
	height: 130%;
}