.mui-bar-nav{
	box-shadow: none;
	background: #fff;
}
.mui-title{
	font-weight: 700;
	letter-spacing:0.104166rem;
}
.mui-pull-left{
	color: #8f8f8f;
}
.mui-scroll-wrapper{
	background: #f1f1f1;
}
.liebiao{
	background: #fff;
	margin-top: 1.425rem;
}
.mui-table-view-cell{
	height: 1.541666rem;
	line-height:0.941666rem;
}
.mui-navigate-right{
	font-size: 0.420833rem;
	font-weight: 700;
}
.shezhi-a{
	margin-top: 1.383333rem;
	
}
.shezhi-b{
	margin-top: 0.208333rem;
}

